@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

/* Global color variables */
:root {
  --background: #282a36;
  --currentln: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --pink: #ff79c6;
  --red: #ff5555;
  --purple: #bd93f9;
}

body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 100%;
  min-width: 550px;
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
  font-family: 'Fira Code', monospace;
  font: 14px/1.5em;
  font-weight: 400;
}

/* Somewhat Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  body {
    padding: 10px 15px;
    font-family: 'Fira Code', monospace;
    font: 10px/0.6em;
  }
}

::selection {
  color: var(--background);
  background-color: var(--cyan);
}

::-moz-selection {
  color: var(--background);
  background-color: var(--cyan);
}

textarea {
  left: -1000px;
  position: absolute;
}

b {
  text-decoration: underline;
}

/* Blinking cursor styling */
.cursor {
  font-size: 12px;
  color: var(--foreground);
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1.5s linear infinite;
}

/* Blink animation keyframes */
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Command input styling */
#command {
  cursor: text;
  height: 50px;
  color: var(--foreground);
}

/* Terminal prompt styling */
#liner {
	line-height: 1.3em;
	margin-top: -2px;
	animation: show 0.5s ease forwards;
	animation-delay: 1.2s;
	opacity: 0;
}

#liner::before {
	color: var(--foreground);
	content: "snow@GenBooh:~$";
}

/* Terminal prompt animation keyframes */
@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Animated typing effect for paragraphs */
p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}

.no-animation {
  animation: typing 0 steps(30, end);
}

.margin {
  margin-left: 20px;
}

/* Typing animation keyframes */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.index {
  color: var(--foreground);
}

.purple {
  color: var(--purple);
}

.command {
  color: var(--purple);
  text-shadow: 0 0 2px var(--comment);
}

.error {
  color: var(--red);
}

.white {
  color: var(--foreground);
}

.inherit,
a {
  color: var(--pink);
}

a {
  text-decoration: inherit;
}

a:hover {
  background: var(--comment);
  color: var(--background);
}

a:focus {
  outline: 0;
}